@CHARSET "UTF-8";
body{margin:0;padding:0;}
#container{width:90%;margin: 0 auto;}

/*BASIC STYLING (articels, links, etc)*/

/*Elements*/
a{}
a:hover{}

/*Content*/
/*
Main News
= News Block or important navlink with color (or any other page) important: has main color set in index.php!
*/
div.news{float:left;width:96%;border-style:solid;border-width:4px; ;-webkit-border-radius: 0 0 5px 5px;border-radius: 0 0 10px 10px;}
div.news img{max-width:100px;float:left;width:20%;margin-bottom:5px;}
div.news h3{float:right;margin-bottom:5px;margin-top:2px;margin-left:2%;width:78%;}
div.news p {float:right;margin-bottom:5px;margin-top:0px;margin-left:2%;width:78%;}
div.news a {float:right;margin-top:0px;margin-right:2%;margin-bottom:0px;width:78%;text-align:right;}
div.news a:after{content:" >>> ";}


/*
person
=Description of a person with a ministry
*/ 
div.person {width:44%;min-width:300px;float:left;margin: 2% 2% 2% 2%;text-align:center;-webkit-border-radius: 5px;border-radius: 5px;border:1px solid #C0C0C0;background-color:#F8F8FF}
div.person h3{width:100%;margin:0 auto;margin-bottom:5px;display:block;border-bottom:1px solid #C0C0C0;background-color:#DCDCDC;-webkit-border-radius: 5px 5px 0 0;border-radius: 5px 5px 0 0;}/*name of ministry*/
div.person img{width:90%;margin:0 auto;margin-bottom:5px;}
div.person p{width:90%;margin:0 auto;margin-bottom:1px;display:block} /*multiple data like name, phone, email*/

/*
nav_link
= Link to a page. May be used on navigation pages or in a text
*/
div.nav_link{width:44%;min-width:300px;float:left;margin: 2% 2% 2% 2%;}
div.nav_link h3{border-bottom: 1px solid #C0C0C0;margin-bottom:4px;} /*Headline*/
div.nav_link img{float:left;width:25%;margin: 0 2% 2% 2%;}
div.nav_link p {float:left;width:70%;margin-top:0;margin-bottom:0;}/*intro*/
div.nav_link a:after {content:" >>> ";}

/*
text
= Default Text, mixed with images. just place them, they will float automaticelly. also there are dividers, headlines and divider-headlines
*/
div.block{width:46%;min-width:300px;float:left;margin: 2% 2% 2% 2%;text-align:center;}
div.block h3 {}
div.block p {text-align:left;}
div.block img{width:100%;display:inline;}
div.divider{width:96%;min-width:300px;float:left;margin: 2% 2% 2% 2%;}
div.divider h3 {text-align:center;}


/*END BASIC STYLING*/

/*DESKTOP Elements*/

/*hide mobile only elements, display desktop only elements*/
.desktop{display:block;}
.mobile{display:none;}

/*HEADER*/
#header_desktop{width:100%;height:114px;}
#logo{float:left;width:114px;}
#headline{float:left;color:#990000;font-size:36pt;height:114px;margin-bottom:0px;margin-top:0px;margin-left:2%;line-height:114px;vertical-align:middle;}

/*NAVIGATION*/
#navigation{clear:both;margin-bottom:2%;}
ul { list-style: none outside none;  }
ul.menu { background-color: #990000; margin: 0; padding: 0; font-size: 0.9em; color:white;text-decoration:none;     }
ul.menu ul { left: -9999em; opacity: 0; position: absolute; width: 300px; background: #e6e6e6; margin: 0; padding: 0; top: 40px;
				/* the transitions */
         -webkit-transition: opacity 300ms ease-in-out, top 200ms ease-in-out;
            -moz-transition: opacity 300ms ease-in-out, top 200ms ease-in-out;
                 transition: opacity 300ms ease-in-out, top 200ms ease-in-out;		
	}
ul.menu ul ul { background: #cccccc; }
ul.menu > li { display: inline-block; vertical-align: middle; position: relative; /* top level links only in order to avoid overriding */ }
ul.menu > li > a { display: inline-block; vertical-align: middle; padding: 8px 10px; color:white;text-decoration:none;}
ul.menu > li > a:hover,
ul.menu > li:hover > a { background: white; color:#990000;}
/* setting the visibility */
ul.menu > li:hover > ul { opacity: 1; top: 30px; left: 0; }
ul.menu > li > ul > li:hover ul { opacity: 1; top: 36px; left: 300px; }

/* second and third level */
ul.menu ul > li { display: block; display-display: block; display-padding: 10px 15px; background-color:#990000;}
ul.menu ul > li a { display: block; padding: 10px 15px;color:white;text-decoration:none; }
ul.menu ul > li a:hover,
ul.menu ul > li:hover a { background: white;color:#990000; }
ul.menu ul ul li a:hover { background: white;color:#990000; }
ul.menu li.parent.deeper  ul  li.parent.deeper  ul {border:1px solid #990000;}
ul.menu li.parent.deeper  ul  li.parent.deeper  ul li  a:hover{ background: #990000;color:white; }

/* Active and parent classes- using Joomla! menu classes - use the :after pseudo-classes to add images or icon fonts. You can safely remove this part since it's completely optional - remove at will */
/* active states */
ul.menu > li.parent > a { background: white;color:#990000; }
ul.menu > li.active { background: white;color:#990000; }
	/* lower levels */
	ul.menu > li.active > a { }
	ul.menu > li.active > ul > li.active > a { }
	ul.menu > li.active > ul > li.active > ul > li.active > a { }



/*CONTENT*/
#content{clear:both;border-left:6px solid orange;padding-left:2%;}

/*FOOTER*/
#footer{border-top:4px solid #990000;margin-top:2%;}

/*On Desktop, social Links are just the buttons*/
a.social{float:left;margin-top:2%;margin-right:2%;}
img.social_icon{width:48px;-webkit-transition: all 250ms ease-in-out;
-moz-transition: all 250ms ease-in-out;
-ms-transition: all 250ms ease-in-out;
-o-transition: all 250ms ease-in-out;
transition: all 250ms ease-in-out;}
img.social_icon:hover{width:52px;-webkit-transition: all 250ms ease-in-out;
-moz-transition: all 250ms ease-in-out;
-ms-transition: all 250ms ease-in-out;
-o-transition: all 250ms ease-in-out;
transition: all 250ms ease-in-out;}
span.social_text{display:none;}

/*Impressum is just a simple Link with hovering*/
a#impressum{text-decoration:none;float:right;color:#990000;font-weight:bold;-webkit-transition: all 250ms ease-in-out;
-moz-transition: all 250ms ease-in-out;
-ms-transition: all 250ms ease-in-out;
-o-transition: all 250ms ease-in-out;
transition: all 250ms ease-in-out;}
a#impressum:hover{font-size:1.2em;text-shadow: 0 0 5px #CDCDCD;-webkit-transition: all 250ms ease-in-out;
-moz-transition: all 250ms ease-in-out;
-ms-transition: all 250ms ease-in-out;
-o-transition: all 250ms ease-in-out;
transition: all 250ms ease-in-out;}/*TODO: Text shadow*/
/*END DESKTOP*/


@media screen and (max-width: 800px) {
	/*OVERWRITING FOR MOBILE*/

#container{width:100%;}

/*hide desktop only elements, display mobile only elements*/
.desktop{display:none;}
.mobile{display:block;}


/*HEADER*/
#header_mobile{height:48px;background-color:#990000;color:white;}
#menuToggler{float:left;color:white;font-size:20pt;}
#logo_white{float:left;height:48px;}
#headline {height:48px;color:white;font-size:20pt;line-height:48px;vertical-align:middle; }

/*NAVIGATION*/

ul.menu { left: -300px; width: 300px; z-index: 10009; line-height: 1.8; position: absolute; z-index: 9999; border: 1px solid #f2f2f2; /* resetting and blocking the elements in order to have a large touch surface */  
		/* the transitions */
  	 -webkit-transition: all 300ms ease-in-out;
     		-moz-transition: all 300ms ease-in-out;
             transition: all 300ms ease-in-out;
   }
  	
  	/* the open state -  here we are using the CSS 3D Transforms */
  	ul.menu.menuIsActive { 
			-webkit-transform: translate3d(300px, 0, 0);
	       -moz-transform: translate3d(300px, 0, 0);
	            transform: translate3d(300px, 0, 0);
	     -webkit-overflow-scrolling: touch; }
  
  ul.menu ul { display: block; position: static; opacity: 1; }
  ul.menu ul li { text-indent: 15px; font-size: 0.9em; border-bottom: 1px solid #f2f2f2; }
  ul.menu > li, ul.menu li,
  ul.menu a, ul.menu li > a { display: block; }

  /* globally reset all paddings */
  ul.menu a { padding: 12px 20px !important; }
  ul.menu li:hover a{color:#990000;background-color:white;}
  ul.menu li:hover ul{background-color:#990000;color:white;}
    ul.menu li:hover ul li:hover a{background-color:#990000;color:white;}
    ul.menu li:hover ul li:hover ul li:hover a{color:#990000;background-color:white;}
  /* support for browsers which do not support 3D transforms - must use Modernizr for this feature */
	.no-csstransforms3d ul.menu.menuIsActive { left: 0; } 
  
  /* the visibility toggler */
	#menuToggler .icon { display: inline-block; vertical-align: middle; padding-right: 5px; }
	#menuToggler span { display: inline-block; vertical-align: middle; font-weight: 800; font-size: 24px; line-height: 48px; }
	#menuToggler a:hover { text-decoration: none; }


/*CONTENT*/
#content{border:none;margin-bottom:2%;}

/*FOOTER*/
    #footer{margin:0;border:none;}
    
/*On Mobile, we have full width elements*/
a.social{float:left;width:100%;display:block;margin-top:0px;border-bottom:1px solid #CDCDCD;background-color:#990000;height:60px;text-align:center;}
a.social:hover{background-color:#CDCDCD;color:#990000;}
img.social_icon{height:48px;width:48px;margin-top:6px;margin-bottom:6px;float:left;margin-right:6px;margin-left:12px;}
span.social_text{display:block;color:white;font-size:24pt;line-height:48px;height:48px;float:left;vertical-align:middle;margin-top:6px;margin-bottom:6px;width:calc(100%);margin-left:-66px;} /*TODO: Center text*/
    span.social_text:hover{color:#990000;}
    
/*Impressum is a block like a social element*/
a#impressum{font-weight:normal;float:left;width:100%;display:block;text-align:center;background-color:#990000;color:white;height:60px;font-size:24pt;text-decoration:none;line-height:60px;vertical-align:middle;-webkit-transition: none;
-moz-transition: none;
-ms-transition: none;
-o-transition: none;
transition: none;}
a#impressum:hover{font-size:24pt;background-color:#CDCDCD;color:#990000;-webkit-transition: none;
-moz-transition: none;
-ms-transition: none;
-o-transition: none;
transition: none;}	
}
